{% if cppd == 1 %}
  {% extends "base_cppd.html" %}
{% else %}
  {% extends "base_requerimento.html" %}
{% endif %}

{% block conteudo %}

<style>

    h1 {
        text-align: center;
        margin-top: 50px;
        font-family: "Poppins";
        color: whitesmoke;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
        text-align: right;
        margin-bottom: 32px;

    }
    h3 {
        text-align: center;
        margin-top: 10px;
        font-family: "Poppins";
        color: white;
        font-size: 20px;
        font-weight: 400;
    }
    h4 {
        font-size: 10px;
        padding-top: 10px;

    }
    .container{
        margin-top: 20px;
    }
    .col-sm-8{
        margin-top: 3px;
    }
    #inputs{
        width: 50px;
        padding-bottom: 0px;
    }

</style>

<h1>Parte 1: Atividade docente</h1>

<h3>1 - Número de Horas Aula</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-3 p-sm-4">
                    <div class="row">
                        <div class="col-sm-8">
                            {% for pergunta in perguntas %}
                                <h2>{{ pergunta }}</h2>
                            {% endfor %}
                        </div>
                        <div class="col-sm-1">
                            {% for pergunta in perguntas %}
                                <div class="input-group mb-3" id="inputs">
                                    <input type="text" class="form-control" style="text-align: center">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-3">
                            {% for ponto in pontos %}
                                    <h4>({{ ponto }})</h4><br>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<h3>2 - Atividade Regular de docência em diferentes modalidades e níveis de ensino, por semeste</h3>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body p-3 p-sm-4">
                    <div class="row">
                        <div class="col-sm-8">
                            <h2>Número médio de períodos semanais:</h2>
                            <h2>Número médio de disciplinas semestrais:</h2>
                            <h2>Número médio de turmas semestrais:</h2>
                            <h2>Semestres:</h2>
                            <h2>Semestres:</h2>
                            <h2>Semestres:</h2>
                            <h2>Semestres:</h2>
                            <h2>Semestres:</h2>
                        </div>
                        <div class="col-sm-1">
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            <div class="input-group mb-3" id="inputs">
                                <input type="text" class="form-control" style="text-align: center">
                            </div>
                            
                        </div>
                        <div class="col-sm-3">
                            <h4>(01 ponto para cada periodo de aula)</h4><br>
                            <h4>(02 ponto para cada periodo de aula)</h4><br>
                            <h4>(01 ponto para cada periodo de aula)</h4><br>
                            <h4>(01 ponto para cada periodo de aula)</h4><br>
                            <h4>(01 ponto para cada periodo de aula)</h4><br>
                            <h4>(01 ponto para cada periodo de aula)</h4>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock conteudo %}