{% extends 'base.html' %}
{% block conteudo %}

<style>
    body {
        background-color: whitesmoke;
    }

    .btn-login {
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        padding: 0.75rem 1rem;
    }

    .row {
        font-family: "Poppins";
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-danger" role="alert" style="text-align: center;">
                            {{ messages[0] }} 
                        </div> 
                    {% endif %}
                    {% endwith %}
                     
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Resetar Minha Senha</h5>
                    <form method='POST' id='formsenha'>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingSenha" placeholder="Senha" name="Senha" onkeyup='checkPassword();' required>
                            <label for="floatingSenha">Nova Senha</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="floatingSenhaConfirm" placeholder="SenhaConfirm" name="SenhaConfirm" onkeyup='checkPassword();' required>
                            <label for="floatingSenhaConfirm">Confirme sua Nova Senha</label>
                            <p id="passwordMatch" style="display: none; color: red; text-align: center;">As senhas não correspondem</p>
                        </div>
                        
                        <script>
                            function checkPassword() {
                                var senha = document.getElementById("floatingSenha").value;
                                var senhaConfirm = document.getElementById("floatingSenhaConfirm").value;
                                var passwordMatch = document.getElementById("passwordMatch");
                        
                                if (senha === senhaConfirm) {
                                    passwordMatch.style.display = "none";
                                } else {
                                    passwordMatch.style.display = "block";
                                }
                            }
                        
                            function submitForm(event) {
                                var senha = document.getElementById("floatingSenha").value;
                                var senhaConfirm = document.getElementById("floatingSenhaConfirm").value;
                                var passwordMatch = document.getElementById("passwordMatch");
                        
                                if (senha !== senhaConfirm) {
                                    passwordMatch.style.display = "block";
                                    event.preventDefault(); // Impede o envio do formulário
                                }
                            }
                        
                            // Adicione o evento submitForm() ao evento "submit" do formulário
                            var form = document.getElementById("formsenha"); // Substitua "seu-formulario" pelo ID correto do seu formulário
                            form.addEventListener("submit", submitForm);
                        </script>
                        
                        <div class="d-grid">
                            <button class="btn btn-success btn-login text-uppercase fw-bold" type="submit">Enviar</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock conteudo %}