{% if cppd == 1 %}
  {% extends "base_cppd.html" %}
{% else %}
  {% extends 'base_docente.html' %}
{% endif %}
{% block conteudo %}

<style>
    h1 {
        text-align: center;
        margin-top: 50px;
        font-family: "Poppins";
        color: whitesmoke;
        font-size: 40px;
        font-weight: 700;
    }
    h2 {
        font-family: "Poppins";
        font-size: 20px;
        font-weight: 500;
    }


</style>
<h1>Minha Conta</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-2 p-sm-2">
                    <div class="row">
                        <div class="col-sm-4">
                            <img
                                src="https://static.vecteezy.com/ti/vetor-gratis/p1/2318271-icone-do-perfil-do-usuario-vetor.jpg"
                                width="200" height="200" class="image">
                        </div>
                        <div class="col-sm-8">
                            <br>
                            <h2>Professor(a): {{nome}}</h2>
                            <h2>Número SIAPE: {{siape}}</h2>
                            <h2>Email: {{email}}</h2>
                            <h2>CPF: {{cpf}}</h2>
                            <h2>CPPD: {{cppd}}</h2>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-sm-5">
                            <a class="btn btn-warning btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#alterarDados" href="#"
                                type="button" style="color: black; font-family:
                                'Poppins'; font-weight: 300;">Alterar Dados</a>
                            <a class="btn btn-danger btn-sm"
                                href="{{url_for('auth.logout')}}" type="button"
                                style="color: black; font-family: 'Poppins';
                                font-weight: 300;">Sair da Conta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="alterarDados" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Editar Informações da Conta</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{url_for('docente.minha_conta_post')}}">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingNome" placeholder="Nome" name='Nome' value="{{nome}}" required>
                        <label for="floatingNome">Nome</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingCPF" placeholder="CPF" name='CPF' value="{{cpf}}" required>
                        <label for="floatingCPF">CPF</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingSIAPE" placeholder="SIAPE" name='SIAPE' value="{{siape}}" required>
                        <label for="floatingSIAPE">Número SIAPE</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingEmail" placeholder="Email" name='Email' value="{{email}}" required>
                        <label for="floatingEmail">Email</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button class="btn btn-success" type="submit">Salvar Alterações</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>



{% endblock conteudo %}